.dashboard-container {
    margin: 20px;
    padding-right: 25px;
}

.tab-bar {
    display: flex;
    justify-content: space-between;
    /* Ensure even spacing between tabs */
    background-color: #e0e0e0;
    /* Updated to a more neutral color */
    padding: 10px;
    /* Add padding for better visual separation */
    width: 100%;
}

button {
    padding: 10px;
    flex: 1;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
    background-color: transparent;
    font-weight: bold;
    color: black;
}

button:hover {
    background-color: #d4d4d4;
    /* Lighter background on hover */
}

button.active {
    background-color: #c0c0c0;
    /* Darker background for active tab */
}

.main-section {
    width: 99%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

h2 {
    text-align: center;
}